<h1>hello shivam</h1>

  <form action="/keys/find" method="POST">
            <div class="form-group">
                <label for="keys">Write key name </label>
                <input type="text" id="keys" name="keys" class="form-control">
            </div>
            <button type="submit">Show</button>
        </form>

        
  <form action="/keys/add" method="POST">
            <div class="form-group">
                <label for="keys">write the key to add to env file</label><br>
                <input type="test" id="keys" name="keys"><br>
                  <label for="keys">write the value to add env file</label><br>
                <input type="test" id="value" name="value">
            </div>
            <button type="submit">Add to env.</button>
        </form>